azure-storage-blob==12.26.0
boto3==1.40.19
cohere==5.14.2
fastembed==0.7.2
google-cloud-storage==3.3.0
langchain-anthropic==0.3.19
langchain-cohere==0.4.5
langchain-google-genai==2.1.10
langchain-groq==0.3.7
langchain-litellm==0.2.2
langchain-mistralai==0.2.11
langchain-ollama==0.3.7
langchain-openai==0.3.32
langchain-voyageai==0.1.7
pymupdf==1.26.4
sentence-transformers==5.1.0
spacy==3.8.7
text-generation==0.7.0
