name: Cheshire-Cat Action on Pull Requests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches: [main, develop]
  push:
    branches: [main, develop]

jobs:
  linter:
    name: "Run linter"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1
  test:
    name: "Run Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false # Keep false so we don't delete base images like redis/rabbitmq
      - name: Clean Docker system before build
        run: |
          docker system prune -f
      - name: Build and test
        run: |
          docker compose build --pull --no-cache
          docker compose run --rm cheshire-cat-core uv run python -m pytest --color=yes -W ignore --disable-warnings .
      - name: Cleanup after tests
        if: always()
        run: |
          docker compose down --volumes --remove-orphans
          docker system prune -af